.Register {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 8vh 2rem;
  padding: 1rem 0;
  background-color: #d0d0ff;
  border-radius: 8px;

  &__title {
    width: 90%;
    text-align: center;
    border-bottom: 1px blue solid;
    padding-bottom: 0.5rem;
  }
}
