.LoginForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 8vh 2rem;
  padding: 1rem 0;
  background-color: #d0d0ff;
  border-radius: 8px;

  &__title {
    width: 90%;
    text-align: center;
    border-bottom: 1px blue solid;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__label {
    align-self: flex-start;
    margin: 0 0.5rem;
  }

  &__input,
  &__input:focus {
    outline: inherit;
    margin: 0 0.5rem;
    width: 91%;
  }

  &__error {
    height: 1em;
    font-size: 0.8em;
    margin-top: 0.2rem;
    color: red;
  }

  &__button,
  &__button:focus {
    outline: inherit;
    width: 50%;
  }
}
