.SubmitButton,
.SubmitButton:focus {
  width: 100px;
  outline: inherit;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  border: solid 2px #4b8e4b;
  background-color: #00ff1f;
  font-weight: bold;
  color: black;
}
