.CancelButton,
.CancelButton:focus {
  width: 100px;
  outline: inherit;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  border: solid 1px #8e4b4b;
  color: #761515;
  background-color: #9f7575;
  font-weight: bold;
}
