.CancelButton,
.CancelButton:focus {
  width: 100px;
  outline: inherit;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  border: solid 1px red;
  color: red;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}
