.RegisterForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__label {
    align-self: flex-start;
    margin: 0.5rem 0.5rem 0;
  }

  &__textInput,
  &__textInput:focus {
    margin: 0 0.5rem 0.5rem;
    outline: inherit;
    width: 91%;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 0 1rem 0;
  }

  &__tag {
    background-color: white;
    border: solid 1px blue;
    padding: 0.3rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
  }

  &__button,
  &__button:focus {
    outline: inherit;
    width: 50%;
  }
}
